//- * @jade name:		views/home.jade
//- * @description:		This jade renders home page.
//- * @related issues:	SM-001
//- * @param:			object req
//- * @author:			Don Hsieh
//- * @since:			10/24/2014
//- * @last modified: 	10/24/2014
//- * @called by:		URL '/'
extends ./layout

block styles
		
block body
	.container
		.row
			.span4
				a(href='./workbench.html')
					h2 頂車機
				img.featurette-image.pull-right(src='/img/workbench/SM-T500FC.jpg', width='280', height='280')
				p: a.btn(href='/index.html') View details »
			.span4
				a(href='./workbench.html')
					h2 拆胎機
				img.featurette-image.pull-right(src='/img/workbench/SM-T20C.jpg', width='280', height='280')
				p: a.btn(href='./index.html#') View details »
			.span4
				a(href='./pneumatic.html')
					h2 氣動工具
				img.featurette-image.pull-right(src='/img/pneumatic/TPT-305F-SH.jpg', width='280', height='280')
				p: a.btn(href='./index.html#') View details »
		.row
			.span4
				a(href='./general.html')
					h2 怪手工具
				img.featurette-image.pull-right(src='./img/general/SM-S2-004.jpg', width='280', height='280')
				p: a.btn(href='./index.html') View details »
			.span4
				a(href='./special.html')
					h2 電盤工具
				img.featurette-image.pull-right(src='./img/special/SM-S1-005.jpg', width='280', height='280')
				p: a.btn(href='./index.html#') View details »
			.span4
				a(href='./general.html')
					h2 汽門工具箱
				img.featurette-image.pull-right(src='./img/general/SM-S2-003.jpg', width='280', height='280')
				p: a.btn(href='./index.html#') View details »

		//- Grid system
		section#contact
			.row-fluid
				//-<!--<h1>Contact</h1>-->
				h3 超級動能有限公司
				ul
					li tel: (02) 2595-1814
					li e-mail: super.motor@msa.hinet.net
					li address: 台北市大同區迪化街二段 172 巷 17 號
					li cell phone: 0932-058-406
		hr
		footer#footer
			p.muted Copyright © 2014 Super Motor, LLC

	//-script(src='/js/jquery-1.10.2.min.js', type='text/javascript') //-shall move to layout.jade?

	script(type='text/javascript').
		'use strict';
		