//- * @jade name:		sail/views/layout.jade
//- * @description:		This jade is the default layout and renders navbar.
//- * @related issues:	SM-001
//- * @param:			object req
//- * @author:			Don Hsieh
//- * @since:			10/24/2014
//- * @last modified: 	10/24/2014
//- * @called by:		All jades which extend this jade
doctype html
html
	head
		//-title= title
		title= 'Super Motor'

		// Viewport mobile tag for sensible mobile support
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name='Description', content='We provides tools for maintaining scooters and motorcycles')
		meta(name='author', content='Don Hsieh')
		
		//-link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/supermotor.css')
		
		block styles

	body
		.container
			img(src='/img/logo.jpg', width='100', height='100')
			.navbar
				.navbar-inner
					ul.nav
						li.active: a(href='./index.html#') 首頁
						//-li.active: a(href='./index.html#about') About
						li: a(href='./workbench.html') 工作台
						li: a(href='./pneumatic.html') 氣動工具
						li: a(href='./general.html') 通用工具
						li: a(href='./special.html') 特殊工具
						li: a(href='#contact') 聯絡我們
					//- Main hero unit for a primary marketing message or call to action
			.hero-unit
				h1 超級動能
				p
				br
				//-h1 Hello, 超級動能！
				//-p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				a.btn.btn-primary.btn-large(href='./index.html#') Learn more »
		block body

		//-script(type="text/javascript", src="/js/jquery-1.11.1.min.js")
		//-script(type="text/javascript", src="/js/bootstrap.min.js")